page-cerca-de-mi {

  .img-tarjeta{
    min-height: 10vh;
    max-height: 30vh;
  }

  .lugar-actual{
    min-height: 20vh;
    max-height: 35vh;
    min-width: 100vw;
  }

  .tarjeta-presentacion-lugar{
    position: relative;
    margin-top: -5vh;

  }

}
